#formContainerEl input[type=radio] {
  display: none;
}

#formContainerEl .radioBtn {
  display: block;
  width: 100%;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 1em;
  margin: 0.5em 0em 0.5em 0em;
  border: solid 1px #636262;
  color: #636262;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
  padding: 0.1em;
}

#formContainerEl input[type="radio"]:checked+label {
  border: solid 3px #5dafb2;
  box-shadow: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
}

h2 {
  padding: 1em 0.5em;
  margin: 0px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 300;
  color: #636262;
}

a {
  color: #f0f0f0;
}

.primary-color {
  background: #5dafb2;
  color: #ffffff;
}

.warning-color {
  background-color: #c99f9c;
  color: #ffffff;
}

.borderBottom:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 3px;
  border-bottom: solid 1px #000000;
}

.navbar {
display: block
}

.main-nav {
position: relative;
bottom: 0px;
margin: auto;
}

.main-content {
display: inline;
text-align: center;
}

.main-btn {
border: solid 1px;
width: 100%;
}

.list-el {
  margin-bottom: 0px;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.active {
  background-color: #f0f0f0;
  color: #000000;
  border-bottom: none;
}

#wrapDiv {
  position: relative;
  z-index: 2000;
  position: fixed;
  display: block;
  bottom: 10px;
  left: 6px;
  max-height: 500px;
  width: 185px;
  margin: auto;
  padding: 0;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: Verdana, Geneva, sans-serif;
}

#optionsEl {
  border-left: solid 1px #f0f0f0;
}

#logout {
  position: relative;
  float: right;
  padding: 0.2em;
  margin: 0.2em;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  line-height: 70%;
  border: solid 1px #ffffff;
  font-style: bold;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
}

#logout:hover {
  color: #cccccc;
  background-color: #5dafb2;
  font-style: bold;
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 1px #86bccc;
  border-left: solid 1px #86bccc;
  border-top: solid 1px #427f94;
  border-right: solid 1px #427f94;
}

#appIcon {
  height: 100px;
  width: 100px;
}

#backgroundEl {
  background-color: #f0f0f0;
  border: solid 1px #000;
}

#warningEl {
  padding: 1em;
  margin-bottom: 1px;
  border: solid 3px #ad736f;
}

#shareBtnContainerEl {
  margin: 0.7em 1em 1em 1em;
}

#shareEl {
  width: 100%;
  padding: 0.5em;
  border-radius: 1em;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
  border: none;
}

#shareEl:hover {
  background-color: #cccccc;
  color: #000000;
}
